.App {
  min-height: 100vh;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding-bottom: 10px;
}

.search-bar {
  width: 20%;
  border: none;
  padding: 10px;
}

.search-button {
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
  border: none;
  padding: 10px 20px;
  color: white;
}

.appMovie {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

img.card {
  height: 50 vh;
  width: 30%;
}

.text {
  width: 30%;
}
